<section id="section-header">
    <div class="section lodging-header">
        <div>
            <a [routerLink]="['/lodging/home']">
                <img src="/assets/img/logo-dircetur-snf.png" alt="Logo DIRCETUR">
            </a>
        </div>
        <div class="list-btn-h">
            <ul class="ls-none d-flex justify-content-between align-items-center">
                <li><a [routerLink]="['/lodging/new-form']"><button class="btn-h btn-h-transparent">Nuevo formulario</button></a></li>
                <li><a [routerLink]="['/lodging/list-forms']"><button class="btn-h btn-h-black">Formularios enviados</button></a></li>
                <li><a href="#"><button class="btn-h btn-h-black">Salir</button></a></li>
            </ul>
        </div>
    </div>
</section>