<section class="section all-height">
    <p class="text-alert t-center">Por favor ingrese lo que anotó en su libro de registros <br>del presente mes</p>
    <section class="form-section col-md-4">
        <div class="rooms-list mb-4">
            <div class="room-type d-flex justify-content-between">
                <p class="me-3">Habitación simple</p>
                <button class="btn-form">Nuevo</button>
            </div>
            <div class="mb-4 room-type-list-simple"></div>
        </div>
        <div class="rooms-list mb-4">
            <div class="room-type d-flex justify-content-between">
                <p class="me-3">Habitación doble</p>
                <button class="btn-form">Nuevo</button>
            </div>
            <div class="mb-4 room-type-list-double"></div>
        </div>
        <div class="rooms-list mb-4">
            <div class="room-type d-flex justify-content-between">
                <p class="me-3">Habitación triple</p>
                <button class="btn-form">Nuevo</button>
            </div>
            <div class="mb-4 room-type-list-triple"></div>
        </div>
        <div class="rooms-list mb-4">
            <div class="room-type d-flex justify-content-between">
                <p class="me-3">Matrimonial</p>
                <button class="btn-form">Nuevo</button>
            </div>
            <div class="mb-4 room-type-list-couple"></div>
        </div>
        <div class="rooms-list mb-4">
            <div class="room-type d-flex justify-content-between">
                <p class="me-3">Suit</p>
                <button class="btn-form">Nuevo</button>
            </div>
            <div class="mb-4 room-type-list-suit"></div>
        </div>   
    </section>
</section>