.p-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
}
.p-footer p{
    margin-bottom: 0;
    line-height: 35px;
}

.bc-grey{
    background-color: #5a5a5a;
}
.c-white{
    color: #eeeeee
}