<div class="container">
    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Lo sentimos, un error ha ocurrido, la pagina que solicitó no se encontró!
                </div>
                <div class="error-actions">
                    <a [routerLink]="['']" class="btn btn-green btn-lg"><span class="glyphicon glyphicon-home"></span>
                        volvel al inicio </a>
                </div>
            </div>
        </div>
    </div>
</div>