<section class="vh-90 header-section">
    <header class="header-drc section">
        <a href="#">
            <div>
                <img src="/assets/img/logo-dircetur-snf.png" alt="Logo DIRCETUR">
            </div>
        </a>
        <nav class="navbar-top">
            <ul class="ls-none">
                <li><a class="btn-cl-white" href="#">Ingresar</a></li>
                <li><a class="btn-cl-white" href="#">Intranet</a></li>
            </ul>
        </nav>
    </header>
    <div class="banner section">
        <div class="banner-content">
            <div class="banner-text">
                <h2 class="cl-white">
                    Descubre como enviar la encuesta mensual de turismo en una forma fácil y sencilla
                </h2>
            </div>
            <div class="banner-btn df-reverse">
                <a href="">
                    <button class="btn-bnr btn-bnr-green">Ingresar</button>
                </a>
                <!-- <a href="">
                    <button class="btn-bnr btn-bnr-transparent">¿Cómo llenar?</button>
                </a> -->
            </div>
        </div>
    </div>
</section>    