<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Formularios Enviados</p>
            <h3 class="card-title">30/50</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Este mes
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">
              Hospedajes que aun no envían el formulario
            </h4>
            <p class="card-category">01/12/2022 - 31/12/2022</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-info">
                <th>ID</th>
                <th>Nombre Comercial</th>
                <th>Razon Social</th>
                <th>Telefono</th>
                <th>Correo</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Rustica</td>
                  <td>Jualin Monrt SA</td>
                  <td>993748394</td>
                  <td>rustica@rustica.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lan verderedas</td>
                  <td>Yknlenflew GIHIlnfl SA</td>
                  <td>9946458221</td>
                  <td>Lverders@hotmail.com</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Taredefa</td>
                  <td>ksjeflwf wetrew SA</td>
                  <td>99246248472</td>
                  <td>Taredefa@gmail.com</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Tujullano</td>
                  <td>Empresasn odfnwornf</td>
                  <td>9947286421</td>
                  <td>trujillano@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
