<section class="section pt-4">
    <div class="t-center"><h4 class="title-section">¿Cómo llenar la encuesta online?</h4></div>
    <div class="t-center"><p class="pb-3">Sabemos que el formulario de la encuesta mesual de turismo es monótona y confusa, por ello decidimos hacer este sistema 
        que le ahorrará tiempo y dinero. 
        Es facil, solo sigue los pasos y tendras el formulario listo y aprobado en cuestion de minutos.</p></div>
    <div class="body-section t-center">
        <div class="pb-5">
            <img class="steps-img" src="assets/img/steps-login.png" alt="Imagen Login">
            <div class="p-relative">
                <span class="attribute-autor"><a href="http://www.freepik.com" target="_blank">Designed by slidesgo / Freepik</a></span>
            </div>
            <h6>Ingresa</h6>
            <p>Ingresa usando tu correo y contraseña que DIRCETUR le proporcionó</p>
        </div>
        <div class="pb-5">
            <img class="steps-img" src="assets/img/steps-fillout.png" alt="Imagen cumplimentar formulario">
            <div class="p-relative">
                <span class="attribute-autor"><a href="http://www.freepik.com" target="_blank">Designed by stories / Freepik</a></span>
            </div>
            <h6>Transcribe</h6>
            <p>Transcribe su libro de registros a la web, ¿De qué mes? la página escogerá automáticamente el último mes que le falta por enviar</p>
        </div>
        <div class="pb-5">
            <img class="steps-img" src="assets/img/steps-validation.png" alt="Imagen generar validacion">
            <div class="p-relative">
                <span class="attribute-autor"><a href="http://www.freepik.com" target="_blank">Designed by stories / Freepik</a></span>
            </div>
            <h6>Genéra y verifica</h6>
            <p>Despues de darle click en "Generar", verifica que todos los capitulos esten correctos, en especial el Capítulo 1 y 6</p>
        </div>
        <div class="pb-5">
            <img class="steps-img" src="assets/img/steps-send.png" alt="Imagen Enviar formulario">
            <div class="p-relative">
                <span class="attribute-autor"><a href="http://www.freepik.com" target="_blank">Designed by stories / Freepik</a></span>
            </div>
            <h6>Envía</h6>
            <p>Preciona el boton "Enviar" y listo, DIRCETUR lo verá automaticamente. Se le envirá una copia de la encuesta a su correo o podrá descargarlo desde esta web</p>
        </div>
    </div>
</section>