<div class="login-wrapper">
  <div class="d-flex align-items-center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Bienvenido</mat-card-title>
      </mat-card-header>
      <form class="admin-login" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="email" placeholder="Correo" required />
            <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="password" placeholder="Contraseña" type="password" required />
            <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">
          Acceder
        </button>
      </form>
    </mat-card>
  </div>
</div>
