.list-forms{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    column-gap: 2%;
}

@media (min-width: 480px) {
    .list-forms{
        padding-bottom: 153px;
    }
}

.form-card{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px #A7A7A7 solid;
    border-radius: 30px;
}