<section class="section all-height">
    <p class="t-center mt-4">Le facilitamos una lista de los formularios que envió por mes,<br>podrá descargarlos si lo desea</p>
    <div class="list-forms">
        <div class="form-card">
            <div class="img-card d-flex justify-content-around">
                <img src="/assets/img/pdf_icon.png" alt="PDF Icon">
            </div>
            <p class="title-card t-center mb-0">Noviembre<br>2022</p>
        </div>
        <div class="form-card">
            <div class="img-card d-flex justify-content-around">
                <img src="/assets/img/pdf_icon.png" alt="PDF Icon">
            </div>
            <p class="title-card t-center mb-0">Diciembre<br>2022</p>
        </div>
        <div class="form-card">
            <div class="img-card d-flex justify-content-around">
                <img src="/assets/img/pdf_icon.png" alt="PDF Icon">
            </div>
            <p class="title-card t-center mb-0">Enero<br>2023</p>
        </div>
    </div>
</section>